.movie {
  display: flex;
  justify-content: space-evenly;
  margin: 35px;
  width: 454px;
  height: 281px;
  box-shadow: 0px 4px 12px 0px #00000026;
}
.left-side {
  width: 37.5%;
  height: 100%;
}
.poster {
  width: 100%;
  height: 100%;
}
.right-side {
  padding-left: 5px;
  width: 57.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.movie__header {
  position: relative;
  justify-content: space-between;
}
.movie__rating {
  width: 33px;
  height: 33px;
  margin: 5px;
  padding-top: 5px;
  border-radius: 50%;
  border: 2px solid;
  text-align: center;
  position: absolute;
  top: 5px;
  right: 5px;
}
.very-low {
  border-color: #e90000;
}
.low {
  border-color: #e97e00;
}
.medium {
  border-color: #e9d100;
}
.high {
  border-color: #66e900;
}

.movie__heading {
  width: 200px;
  font-size: 20px;
  line-height: 28px;
}
.movie__added {
  font-size: 12px;
  color: #827e7e;
}
.movie__text {
  font-size: 12px;
  line-height: 22px;
}
.movie__stars {
  width: 239px;
  height: 48px;
  background-color: antiquewhite;
}
.movie__janres {
  display: flex;
}
.movie__janre {
  margin-right: 13px;
  padding: 2px 5px 2px 5px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
